@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
html{
	box-sizing: border-box;
}

*,*::before,*::after{
	box-sizing: inherit;
	font-family: 'Roboto', sans-serif;
}

body{
	margin: 0;
	padding: 0;
	background-color: #F9F9FA;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
	
}
p{
	padding: 0;
	margin: 0;
}

.container{
	max-width: 1160px;
	padding: 0 10px;
	margin: 0 auto;
}

.personal-account{}

.personal-account_title{
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	color: #2A3D48;
	margin-bottom: 30px;
}

.personal-account_inner{
	display: flex;
	justify-content: space-between;
}
.personal-account_sidebar, .personal-account_profile{
	background: #FFFFFF;
	border-radius: 5px;
}

.personal-account_sidebar{
	padding: 20px 20px 0 20px;
	height: 461px
}

.personal-account_sidebar-user-info{
	background: #F9F9FA;
	border-radius: 5px;
	margin-bottom: 15px;
	padding: 10px 0 10px 11px;
	width: 320px;
}

.personal-account_sidebar-user-info-box{
	display: flex;
	padding-left:50px;
	position: relative;
	flex-direction: column;
}

.personal-account_sidebar-user-info-box-name{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

.personal-account_sidebar-user-info-box-status{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: rgba(28, 41, 77, 0.5);}

.personal-account_sidebar-user-info-box::after{
	content:'';
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	z-index: 1;
}

.personal-account_sidebar-user-info-box::before{
	content:'';
	position: absolute;
	background-image: url('../img/smile.svg');
	width: 25px;
	height: 25px;
	left: 8px;
	top: 8px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	z-index: 2;
}

.personal-account_sidebar-nav-item-link{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #1C294D;
	display: block;
	border-top: 1px solid rgba(42, 61, 72, 0.15);
	border-radius: 2px;
	padding: 20px 0;
	position: relative;
}

.personal-account_sidebar-nav-item-link:hover{
	color:#FC6E1D;
}
.personal-account_sidebar-nav-item-link:hover::before{
	content: '';
	position: absolute;
	width: 5px;
	height: 60px;
	background-color: #FC6E1D;
	left: -20px;
	border-radius: 5px;
	top: 0;
}

.personal-account_sidebar-nav-item-link.personal-account_sidebar-nav-item-link--exite{color: #FF3347;}
.personal-account_sidebar-nav-item-link.personal-account_sidebar-nav-item-link--exite:hover::before{background-color: #FF3347;}

.personal-account_profile{
	width: 730px;
	padding: 45px;
}

.personal-account_profile_switch{
	display: flex;
	background-color: #F9F9FA;
	border-radius: 5px;
	margin-bottom: 30px;
}

.personal-account_profile_switch-link{
	padding: 10px 15px;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
	color: #55646D;
	margin: 3px 15px 3px 3px;
}

.personal-account_profile_switch-link--active{
	box-shadow: 0px 3px 5px rgba(42, 61, 72, 0.05);
	backdrop-filter: blur(125px);
	border-radius: 5px;
	background-color: #fff;
	font-weight: 500;
	font-size: 14px;
	line-height: 25px;
	color: #1C294D;
}

.personal-account_profile_form{
	max-width: 420px;
}

.personal-account_profile_form-text{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #959EA4;
}
.personal-account_profile_form-text span{color: #FF3347}

.personal-account_profile_form-input{
	width: 100%;
	padding: 0px 15px;
	height: 50px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #1C294D;
	border: 1px solid #DFE2E4;
	border-radius: 5px;
	margin-bottom: 15px;
}

.personal-account_profile_form-lable-number{
	display: flex;
	justify-content: space-between;
}

.personal-account_profile_form-lable-date_day{
	background-color: #fff;
	border-radius: 5px;
	width: 120px;
	border:1px solid gray;
	padding: 15px;
	-webkit-appearance: none;
	appearance: none;
	position: relative;
}
.personal-account_profile_form-lable-date_day::before{
	content:'';
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url(../img/Chevron Down.svg);
	right: 0;
}




